<!DOCTYPE html>
<html>
<head>
  <title>Code4newbies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{google_key}" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= yield(:head_tags) %> 
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Code4Newbies</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">branding_watermark</i></a></li>
        <li><a href="#"><i class="material-icons">loyalty</i></a></li>
        <li><a href="#"><i class="material-icons">map</i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#"><i class="material-icons">branding_watermark</i></a></li>
        <li><a href="#"><i class="material-icons">loyalty</i></a></li>
        <li><a href="#"><i class="material-icons">map</i></a></li>
  </ul>

  <div class="row">
    <div clas="col m10 offset-m1">
      <%= yield %>
    </div>
  </div>

 

  <script>
    $('.sidenav').sidenav();
  </script>
  
</body>
</html>
